[MASTER]
ignore=venv,.venv,build,dist

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-few-public-methods,
    invalid-name

[FORMAT]
max-line-length=100
